body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.name-highlight{
    color: palevioletred;
}
.button-style{
    color: white;
    background-color: orange;
    border-color: orange;
}

.half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.header-img{
    width: 100%;
}
.top-bannar{
    background-image: url("/img/top-banner.png");
    background-repeat: no-repeat;
    border: 1px solid red;
}
section{
    height: 500px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient( 45deg,lightsalmon, tomato);
    padding: 10px 20px;
    border: 1px solid orange;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.second-half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.dream-img{
    width: 100%;
}
.dream-bannar{
    border: 1px solid green;
    background-image: url(/img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}